/*== ShyFox Global Styles ===========================================================================================================================

All sorts of important tweaks that don't belong in any category


--- BROWSER CONTENT ---------------------------------------------------------------------------------------------------------------------------------

Area where website is displayed

*/

/* set background color */
#appcontent .browserStack,
#browser,
.browserContainer {
    background: var(--bg-col);
}

#browser #tabbrowser-tabbox {
    /* shift website content relative to panels */
    margin-left: var(--left-margin) !important;
    margin-right: var(--right-margin) !important;
    margin-top: var(--top-margin) !important;
    margin-bottom: var(--bottom-margin) !important;

    /* add smoothness to it */
    transition: var(--transition) !important;
}

/* completely remove the browser interface in fullscreen videos and popups like login with Google or in a floating Bitwarden window */
#main-window:is(:not([chromehidden=""]), [inDOMFullscreen="true"]) {
    #navigator-toolbox {
        display: none !important;
    }
    --margin: 0px !important;
}

/* some z-index */
#navigator-toolbox {
    z-index: 2 !important;
}
#browser {
    z-index: 1 !important;
}

/* if it not fullscreen video or floating window */
#main-window:not([inDOMFullscreen="true"])[chromehidden=""] {
    /* if navbar is not hidden in f11 fullscreen or not only navbar is visible in f11 or window is not maximized in clean mode */
    &:not(
            :is(
                :is(
                        [titlepreface*="‌"],
                        [titlepreface*="᠎"][titlepreface*="​"]
                    )[inFullscreen="true"]
            ),
            [titlepreface*="‍"]:is(
                    [sizemode="maximized"],
                    [inFullscreen="true"],
                    [gtktiledwindow="true"]
                )
        ) {
        /* add rounded corners and outline to browser content */
        #tabbrowser-tabbox {
            border-radius: var(--big-rounding) !important;
            border: var(--outline);
            outline: none !important;
        }

        #tabbrowser-tabpanels::after {
            content: "";
            margin: -1px;
            border: var(--outline);
            position: absolute;
            inset: 0;
            border-radius: var(--big-rounding);
            box-shadow: 0 0 0 100px var(--bg-col) !important;
            clip-path: inset(0);
            pointer-events: none;
        }
    }

    /* if in f11 fullscreen sidebar active but navbar not */
    &:not([titlepreface*="‍"]):not(
            [titlepreface*="᠎"]
        )[titlepreface*="‌"][inFullscreen="true"] {
        #appcontent browser {
            border-left: var(--outline);
        }
    }

    /* if in f11 fullscreen toolbar active but navbar not */
    &:not([titlepreface*="‍"]):not(
            [titlepreface*="​"]
        )[titlepreface*="‌"][inFullscreen="true"] {
        #appcontent browser {
            border-right: var(--outline);
        }
    }

    /* if in f11 fullscreen nor toolbar or sidebar active but navbar is */
    &:not([titlepreface*="‍"])[titlepreface*="᠎"][titlepreface*="​"]:not(
            [titlepreface*="‌"]
        )[inFullscreen="true"] {
        #appcontent browser {
            border-top: var(--outline);
        }
    }
}

/* private mode outline */
#main-window[privatebrowsingmode="temporary"] {
    --outline: 1px solid var(--private-col) !important;
}

/* drag window using border */
